<h1>Create a New Song</h1>
<form action="/songs" method="post">
  <label>Song Name: </label>
  <input type="text" id="song_name" name="song[name]"><br>

  <p>Select an Artist below or create a new one.</p>
  <label>Artist Name: </label>
  <% @artists.each do |a| %>
    <input type="radio" id="artist_name" name="artist[name]" value="<%= a.name %>"><%= a.name %><br>
  <% end %>
  <br>
  <input type="text" id="artist_name" name="artist[name]"
