<h2>Song: <%= @song.name %></h2>
<h2>Artist: <a href="/artists/<% @song.artist.slug %>"><%= @song.artist %></h2>
<h2>Genres:</h2>
<ul>
  <% @song.genres.each do |g| %>
  <li><a href="/genres/<%= g.slug %>"><%= g.name.capitalize %></li>
  <% end %>
</ul>
