<h1>Library Homepage</h1>

<h2>Go To:</h2>
<h2><a href='/artists'>Artist List</h2>
<h2><a href='/songs'>Song List</h2>
<h2><a href='/genres'>Genre List</h2>

<br><br>
<h2><a href='/songs/new'>Create a New Song</h2>
